nav{
    display:flex;
    gap: 2rem;
    flex-direction: row;
    background-color: #555;
}
button{
    padding: 10px;
background: #555;
color: #fff;
border: none;
border-radius: 3px;
cursor: pointer;
transition: background 0.3s;
    border: none;
    box-shadow: none;
    transition: all .5s;
}
button:hover{
    background-color: #f46da7;
}

#ShowOption{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.card{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 200px;
    
  }
  .contenedor__img1{
    width:20%
  }
  .contenedor__img img{
    width: 100%;
  
  }
  .contenedor__descripcion h3,
  .contenedor__descripcion span{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  margin: auto;
  
  }
  .contenedor__descripcion button{
    display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  margin: auto; 
  color: white; 
    padding: 10px 10px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #007bbf;
    border: none;
    transition: .5s;
  }
  
  .contenedor__descripcion button:hover{
    cursor: pointer;
    background-color: yellow;
    color: black;
  }